<h1>The best-of-the-best I have to offer!</h1>

<h4>See the full gallery on my blog, [TheSpacer](https://thespacer-blog.com)</h4>

<div
  class="grid grid-cols-1 md:grid-cols-1 gap-4 h-1/2 w-1/2 justify-center justify-self-center m-auto"
>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/moon-150224-processedBLOG.png"
      alt="Generic Moon Photo test - after my mount broke!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/Light_Jupiter_1.png"
      alt="TESTING!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/moon.JPG"
      alt="friend contribution - moon photo w/ my equipment + tips!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/1K-moon-(oops).jpg"
      alt="bad mineral moon"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/mineral_moon.jpeg"
      alt="One of my first mineral moons!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/m57seestar.jpg"
      alt="An attempt at the Ring Nebula, a planetary nebula nearly 2,500 light years away!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/orion-neb.jpg"
      alt="An attempt at the Ring Nebula, a planetary nebula nearly 2,500 light years away!"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="/blog-images/bad-venus.png"
      alt="An attempt at the Ring Nebula, a planetary nebula nearly 2,500 light years away!"
    />
  </div>
</div>
